#header {
    padding-top: 20%;
    color: white;
}

.center {

    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: auto;*/
     position: absolute;
    /*top: 43%;*/
    align-text : center;
}



#instructions {
    color: white;
}


body {
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: #2952b3;
}

#background {
    width: 98vw;
    height: 98vh;
    background: url(pixil-frame-0-2.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
}

#boat{
    height: 100px;
    position: absolute;
    top: 37%;

}