#header {
    padding-top: 20%;
    color: white;
    font-size: 4em;
}

.center {

    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: auto;*/
    /* position: absolute; */
    /*top: 43%;*/
    text-align: center;
}



#instructions {
    color: white;
    font-size: 2em;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #2952b3;
}

#background {
    width: 98vw;
    height: 100vh;
    background-image: url("pixil-frame-0-2.png");
    background-size: cover;
    background-position: bottom;
    text-align: center;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#boat {
    height: 100px;
    position: absolute;
    top: 37%;
}

